<div class="container">
  <div class="row justify-content-md-center align-items-center p-4">
    <div class="col col-lg-3">

      <div style="align-items: center;" >
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image" data-wow-delay=".1s">

        <small class="text-muted mb-2">
          <i class="fas fa-link"></i> connect with <strong>{{ site.author.name }}</strong>
        </small>
        {% include social.html %}
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col col-lg-8">
      <h3>Welcome to my website <i class="fas fa-heart text-danger"> </i></h3>
      I am a researcher in the field of <button type="button" class="btn btn-primary btn-sm">Soil Mechanics</button>, who employs <strong>experimental and numerical modeling tools</strong> to solve Geotechnical-engineering problems. My research also involves developement of <button type="button" class="btn btn-dark btn-sm">High-Performance Computing</button> tools.
    </div>
  </div>
</div>

<div class="row justify-content-md-start align-items-center p-4">

  <h2>
    <i class="fas fa-microscope text-primary"></i>
    Research Interests
  </h2>
  <div class="card-columns">

    <div class="card p-1 mb-3">
      <div class="card-body">
        <h5 class="card-title">Heat & Mass Tranfer in Soils</h5>
        <p class="card-text">
          <small class="text-muted">
            Applications: design of monopile foundations for offshore wind turbine, design of earth-dam, tailing dam and
            foundations
          </small>
        </p>
      </div>
    </div>

    <div class="card p-1">
      <div class="card-body">
        <h5 class="card-title">Dynamic Soil Structure Interaction</h5>
        <p class="card-text">
          <small class="text-muted">
            Applications: design of monopile foundations for offshore wind turbine, design of earth-dam, tailing dam and
            foundations
          </small>
        </p>
      </div>
    </div>

    <div class="card p-1">
      <div class="card-body">
        <h5 class="card-title">Subsurface Flow Modeling</h5>
        <p class="card-text">
          <small class="text-muted">
            Seepage analysis of earth-dam; migration of polutant in the ground
          </small>
        </p>
      </div>
    </div>

    <div class="card p-1">
      <div class="card-body">
        <h5 class="card-title">Stability Analysis of Slopes and Earthen dams</h5>
        <p class="card-text">
          <small class="text-muted">
            Risk assessment of irrigation ponds, tailing dams; rainfall and/or earthquake induced slope failure
          </small>
        </p>
      </div>
    </div>

    <div class="card p-1">
      <div class="card-body">
        <h5 class="card-title">THM Response of Soils</h5>
        <p class="card-text">
          <small class="text-muted">
            Effect of freezing and thawing on strength of soils; artificial ground freezing techniques; dessication
            cracking of soils; drying of soils; desing of thermo-active structures
          </small>
        </p>
      </div>
    </div>
  </div>